<ion-content>
  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Facturas</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card-content>
      <ion-button
        expand="block"
        color="success"
        [routerLink]="['/factura/registrar-factura']"
      >
        Registrar Factura
      </ion-button>

      <ion-button
        expand="block"
        color="tertiary"
        [routerLink]="['/factura/pagar-factura']"
      >
        Pagar Factura
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
